.navbar {
    /* background-color: linear-gradient(to left, #7a60ff, #cd9ffa) */
    background-image: url("https://res.cloudinary.com/dqpyrzzw7/image/upload/v1695441560/pattern_malyuu.png");
}


.navbar.colorChange {
    transition: 1s;
    background: #fff;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}
.css-1f415d1{
    background-image: url("https://res.cloudinary.com/dqpyrzzw7/image/upload/v1695441560/pattern_malyuu.png");
}

/* .navbar .css-1hn11e9{
    background-image: url("https://res.cloudinary.com/dqpyrzzw7/image/upload/v1695441560/pattern_malyuu.png");
} */

.banner-text{
    margin-left: 30px;
}